@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --clr-primary: #ffdf18;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #fafafa;
  color: #333;
}
/* Base Styles */
a {
  text-decoration: none;
  color: #333;
}

/* utilities */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

/* Header */
header {
  background-color: var(--clr-primary);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

header nav a {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav .btn-outline {
  border: solid 1px rgb(80, 80, 80);
  margin-right: 0.5rem;
}

nav .btn-dark {
  color: var(--clr-primary);
  background-color: #000;
}
