@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --clr-primary: #ffdf18;
  --clr-btn: rgb(0, 204, 153);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}
/* Base Styles */
a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

/* utilities */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}

.btn-green {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--clr-btn);
  width: 265px;
  height: 48px;
  border: none;
  border-radius: 28px;
  color: #fafafa;
}

/* Header */
header {
  /* background-color: var(--clr-primary); */
  background-image: url("https://raster-static.postmates.com?url=https://buyer-static-gcp.postmates.com/dist/prod/home-header-yellow-background.70f396dd69ff23fe08008be0bd3837e1cd504e02e669e0b57b19c22bd72973dfb856cce58766689ceb354c2f1c3f2cacb3de5c34f43ff5c901c0a370c3084203.jpg&quality=85&w=0&h=1500&mode=auto&format=webp&v=4");
  background-size: cover;
  padding: 1.5rem;
  position: relative;
}

header * {
  z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://raster-static.postmates.com/?url=https://buyer-static-gcp.postmates.com/dist/prod/home-header-food-mobile.e41196a7730aab676a88f2ca85f87e23ae4c29e59044591cedf3686f9c9a2ad1bed8b96f345ee27d6f227e732ee1c2a1b6afee107c475a28604f6e7b942ed25d.png&quality=85&w=0&h=1208&mode=auto&format=webp&v=4");
  background-size: cover;
  background-position: bottom;
  /* z-index: 1; */
}

/* Container */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

header nav a {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav .btn-outline {
  border: solid 1px rgb(80, 80, 80);
  margin-right: 0.5rem;
}

nav .btn-dark {
  color: var(--clr-primary);
  background-color: #000;
}

header .text-content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  text-align: center;
  align-items: center;
}

.text-content h1 {
  font-size: 30px;
  margin-top: 5rem;
}

.text-content h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.8rem;
}

.input-form {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  position: relative;
}

.input-form input {
  width: 80%;
  padding: 1.2rem 2.5rem;
  margin-left: 1rem;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 0.8rem;
}

.input-form .location-icon {
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 2;
}

.input-form .arrow-icon {
  background-color: #000;
  height: 100%;
  width: 58px;
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Section A */
.section-a {
  text-align: center;
  padding: 25px 0 40px;
}

.section-a h2,
.section-b h2,
.section-c h2 {
  margin-top: 30px;
  font-size: 28px;
  letter-spacing: -2.2px;
  padding: 0 2rem;
}

.section-a p,
.section-b p,
.section-c p {
  font-size: 15px;
  padding: 1rem 2rem 2rem;
  color: rgb(143, 149, 163);
}

/* Section B */
.section-b {
  padding: 0 2rem;
  margin: 5rem 0;
  text-align: center;
}

.section-b p {
  padding: 2rem 0;
}

.section-b a {
  display: inline;
  margin: 0 0.5rem;
  padding: 0.8rem 1.3rem;
}

.section-b i {
  font-size: 20px;
  vertical-align: text-bottom;
  margin-right: 0.3rem;
}

/* Section C */
.section-c {
  text-align: center;
  padding: 0 0 4rem 0;
}

.section-c .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex .box {
  background-color: #f7f7f8;
  flex: 0 0 29%;
  border-radius: 12px;
  padding: 8px;
  margin: 5px;
  transition: transform 0.2s ease;
}

.flex .box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Section D */
.section-d {
  background-color: #0f4c4e;
  color: #fff;
  text-align: center;
  line-height: 25px;
  padding: 2.5rem 2rem 1rem;
}

.section-d h2 {
  font-size: 35px;
  font-weight: 600;
  padding: 1rem;
}

.section-d p {
  font-size: 14px;
}

.section-d .input-form .arrow-icon {
  height: 55px;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  padding: 4.7rem 2rem;
}

footer h2 {
  font-weight: 400;
  margin: 1rem 0;
}

.footer-box {
  margin-bottom: 2rem;
}

.footer-box h3 {
  line-height: 32px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer-box p {
  color: rgba(255, 255, 255, 0.4);
  line-height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.footer-box p > a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

footer .terms a {
  text-transform: uppercase;
  color: #8f95a3;
  font-size: 12px;
  margin: 0 12px;
}

/* Displays larger than 768px */
@media screen and (min-width: 768px) {
  header::after {
    background-image: url("https://raster-static.postmates.com?url=https://buyer-static-gcp.postmates.com/dist/prod/home-header-food-tablet.03c1ec1a0a6afd3cb89e1e662bccedc82fd5c194893b3dbdaad843ed1298c82a92573c2e08dd9b9e1169d82f199d528cbc9ac9c47b839fbcb6999ce4e6fac21b.png&quality=85&w=0&h=0&mode=auto&format=webp&v=4");
  }

  .container {
    padding: 0 2rem;
  }

  header .text-content {
    align-items: flex-start;
  }

  header .text-content {
    padding-top: 4rem;
    height: 55vh;
  }

  header .text-content h1 {
    font-size: 3rem;
  }

  .input-form {
    margin: 1.5rem 0;
    width: 100%;
    max-width: 450px;
  }

  .input-form input {
    margin: 0;
  }

  .input-form .location-icon {
    left: 10px;
  }

  /* Section a */
  .section-a,
  .section-b {
    display: flex;
    flex-direction: row-reverse;
  }

  /* Section b */
  .section-b {
    flex-direction: row;
    text-align: left;
  }

  .section-b .content-box {
    margin-left: 1.5em;
    width: 50%;
  }

  .section-b h2 {
    padding: 0;
  }

  .section-b p {
    padding: 1rem 0;
  }

  .section-b .section-img {
    width: 70%;
  }

  .section-b .app-buttons {
    display: none;
  }

  .section-b form input[type="text"] {
    width: 100%;
    margin-bottom: 1em;
    padding: 15px;
    font-size: 13px;
    border: 1px solid rgba(217, 219, 224, 0.5);
  }

  .section-b button {
    width: 60%;
  }

  /* Section C */
  .section-c {
    display: flex;
    flex-direction: row-reverse;
  }

  .section-c .flex {
    width: 40em;
    align-items: center;
    align-content: center;
  }

  .section-c .content-box {
    text-align: left;
  }

  .section-c .content-box a {
    margin-left: 2rem;
    width: 40%;
  }
}
